<% @messages.each do |msg| %>
	<div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
        	<span class="card-title">
        		To <%= msg.receiver.name %>
        		<% if !msg.read? %>
        			<i class="material-icons right">markunread</i>
          	<% end %>
      		</span>
          <p>Sent at <%= msg.created_at.strftime("%B %-d, %Y %k:%M") %></p>
          <p>
            <% if !msg.read? %>
              Unread
            <% else %>
              Read at <%= msg.created_at.strftime("%B %-d, %Y %k:%M") %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>