<h4>Sign in</h4>
<%= form_for :user, url: sessions_path do |f| %>
  <div class="input-field">
    <%= f.text_field 'email', placeholder: 'E-mail' %>
  </div>
  <div class="input-field">
    <div class="half-width">
      <%= f.password_field 'password', placeholder: 'Password' %>
    </div>
  </div>
  <div class="input-field">
    <%= f.submit 'Sign In', class: 'btn btn-block btn-info' %>
  </div>
<% end %>