<% unless object[:data].errors.empty? %>
  <div class="row">
    <div class="card red">
      <div class="card-content white-text">
	      <h5>
	        <%= pluralize(object[:data].errors.count, "error") %> prevented <%= object[:name] %>
	      </h5>
	      <ul>
		      <% object[:data].errors.full_messages.each do |msg| %>
		      	<li><%= msg %><br/></li>
	        <% end %>
	      </ul>
      </div>
    </div>
  </div>
<% end %>