<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Happy Chatty</h5>

        <p class="grey-text text-lighten-4">Happy Chatty is an early prototype for learning purposes</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Copyright
    </div>
  </div>
</footer>